<script setup lang="ts">
import { ref, computed, onMounted } from "vue";
import MainView from "./views/MainView.vue";
import LoginView from "./views/LoginView.vue";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

onMounted(() => {
  console.log("On Mounted");
  loginStore.loadData();
});
</script>

<template>
  <v-btn color="success" @click="loginStore.loadData"
    >Load From Lacal Storage</v-btn
  >
  <LoginView v-if="!loginStore.loginName" />
  <MainView
    v-if="loginStore.loginName"
    @logout="loginStore.logout"
    :loginName="loginStore.loginName"
  />
</template>

<style scoped></style>
